body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

.titulo {
  text-align: center;
}
.card {
  background-color: #111;
  color: white;
  padding: 30px;
  border-radius: 4px;
  margin: 10px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
}
a {
  background-color: #febe01;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: #332200;
  border-radius: 4px;
}
a:hover {
  background-color: #f1a409;
}
