p{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.3;
    text-decoration: none;
    text-transform: lowercase;
    text-indent: 5rem;
    text-align: right;
    text-shadow: 5px 5px 0px gray ;
}