.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
body {
  margin: 0px;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0;
  flex: 1;
}

.grid {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat() ;
  gap:20px;

}
