h1,
a {
  color: red;
}

#introducao{
  color: gold;
}

.codigo{
  color:blue;
}

.design{
  color:red;
}


.azul{
  color:blue
}

.underline{
  text-decoration: underline;
}

.grande{
  font-size: 32px
}

