h1{
    position: relative;
}
h1::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 4px;
    background: #caf;
    position: absolute;
    top: 20px;
    z-index: -1;

}


li {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    align-items: center;
}

li::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: linear-gradient(#caf, white);
    border: 2px solid #caf;
    margin-right: 10px;
    border-radius: 50%;
    
}

p::first-line{
    font-size: 2rem;
    font-weight: bold;
   
}
p::first-letter{
    color: blue;
}