body{
font-family: Arial, Helvetica, sans-serif;
}
.hoje{
    color: darkred;
}
.amanha{
    color: darkblue;
}

a{
    text-decoration: none;
    color: red;
}

h2 a{
    color: seagreen;
}

p{
    font-size: 20px;
}
